<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PetNoteBuildStamp</key>
	<string>$(PETNOTE_BUILD_STAMP)</string>
	<key>PetNoteExpectedProject</key>
	<string>$(PETNOTE_EXPECTED_PROJECT)</string>
	<key>PetNoteBackend</key>
	<string>$(PETNOTE_BACKEND)</string>
	<key>PetNoteEmulatorHost</key>
	<string>$(PETNOTE_EMULATOR_HOST)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
